!.gitkeep
/__pycache__
/wav/train/*/*.wav
/wav/production/*/*.wav
/mcep/*/*.mcep
/mcep_aligned/*/*/*.mcep
/train_result/*/*.png
/train_result/*/*.gmm
/train_result/*/*.npy
/resynthesis_test/*
!/resynthesis_test/aoi_uekibachi.raw